<ion-view style="" title="FORM ACTIVITY">
    <ion-content class="has-header" overflow-scroll="true" padding="true">
        <h4 style="">Create Plan Activity</h4>
        <div style="width: 284px; height: 25px;" class="spacer"></div>
        <form style="" class="list">
            <label style="" name="pic" class="item item-select">
                <span class="input-label">PIC</span>
                <select>
                    <option>None</option>
                    <option>ACHEN</option>
                    <option>Addi Masyhari</option>
                    <option>Ali Wahyudi</option>
                </select>
            </label>
            <label style="" name="data-begin" class="item item-input">
                <span class="input-label">Begin</span>
                <input placeholder="Date Begin" type="date">
            </label>
            <label style="" name="data-end" class="item item-input">
                <span class="input-label">End</span>
                <input placeholder="Date End" type="date">
            </label>
        </form>
        <div style="" class="button-bar">
            <button class="button button-stable  button-block icon-left ion-calendar" id="fORMACTIVITY-button14">Monday</button>
            <button class="button button-stable  button-block icon-left ion-calendar" id="fORMACTIVITY-button16">Tuesday</button>
        </div>
        <div style="" class="button-bar">
            <button class="button button-stable  button-block icon-left ion-calendar" id="fORMACTIVITY-button21">Wednesday</button>
            <button class="button button-stable  button-block icon-left ion-calendar" id="fORMACTIVITY-button23">Thursday</button>
        </div>
        <button class="button button-stable  button-block icon-left ion-calendar" id="fORMACTIVITY-button24">Friday</button>
        <a class="button button-positive  button-block" style="border-radius:15px 15px 15px 15px;" id="fORMACTIVITY-button25" ui-sref="pREVIEWPLANACTIVITY">Preview &amp; Save</a>
    </ion-content>
</ion-view>