<ion-view style="" title="SUBMENU SALES">
    <ion-content class="has-header" overflow-scroll="true" padding="true">
        <a class="button button-positive  button-block icon-left ion-android-add-circle" id="sUBMENUSALES-button11" ui-sref="mENUACTIVITY">SALES</a>
        <button class="button button-positive  button-block icon-left ion-pull-request" id="sUBMENUSALES-button13">MATERIAL REQUEST</button>
        <button class="button button-positive  button-block icon-left ion-bag" id="sUBMENUSALES-button12">PRODUCTS</button>
        <a class="button button-positive  button-block icon-left ion-android-clipboard" id="sUBMENUSALES-button30" ui-sref="mENUACTIVITY">ACTIVITY</a>
        <button class="button button-positive  button-block icon-left ion-android-clipboard" id="sUBMENUSALES-button31">SALES REPORT</button>
    </ion-content>
</ion-view>